@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-unique overflow-x-hidden bg-white/90 text-black;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #fff #ec4899;
}

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #ec4899;
}

body::-moz-scrollbar-thumb:hover {
  background: #ec4899;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #ec4899;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #ec4899;
}

.icon__left {
  @apply p-3 rounded-md cursor-pointer hover__tooltip hover:text-white hover:bg-white/20;
}
.icon__right {
  @apply p-3 rounded-full cursor-pointer hover__tooltip hover:text-white hover:bg-white/20;
}

.icon {
  @apply text-xl;
}

.box__center {
  @apply flex items-center gap-3;
}

.box {
  @apply w-full lg:w-[900px] xl:w-[1080px];
}

.react__player {
  @apply w-full lg:w-[900px] h-[300px] sm:h-[450px] md:h-[400px] lg:h-[500px] xl:h-[600px] xl:w-[1080px] !important;
}

.hover__tooltip {
  @apply tooltip tooltip-bottom tooltip-error;
}

.views__likes {
  @apply flex-row-reverse flex items-center px-4 py-2 hover:border-transparent  border border-black/40 rounded-full hover:bg-pink-500 cursor-auto transition duration-150 hover:text-white;
}
